@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
  :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 
	 /* --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif; */
}
 * {
	 box-sizing: border-box;
}
.container-favourites{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.page-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1024px;
	margin: 0 auto;
	font-family: var(--font-sans);
}

 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 5px;
	 font-weight: bold;
	 line-height: 0.8;
}

.h2-favourites{
	padding-top: 2%;
}